<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}</title>
  <link rel="stylesheet" href="/assets/reset.css">
  <link rel="stylesheet" href="/assets/reveal.css">
  <link rel="stylesheet" href="/assets/plugin/highlight/monokai.css">
  <link rel="stylesheet" href="/assets/reveal-plugin.css">
</head>
<body>
  <div class="reveal">
    <div class="slides"></div>
  </div>
  <script type="module" src="/assets/reveal.bundle.mjs"></script>
</body>
</html>
